  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h2>Resend confirmation instructions</h2>
      </div>
    </div>  

    <div class="panel-body">
      <div="container">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group">
          <%= devise_error_messages! %>
        </div>
      
        <div class="row">  
          <div class="form-group">
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
          </div><br/>  
        </div>
        
        <div class="row">
          <div class="form-group">
            <div class="actions">
              <%= f.submit "Resend confirmation instructions" %>
            </div>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
    
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>