<div class="row">
  <div class="col-md-9 banner">
    <h1><span class="text-green">Book a venue for your next event 
    <br/></span>simple and easy.</h1>
  </div>
  <div class="col-md-12"><h4>Rent non-traditional, chic, urban venue spaces for an entire day</h4></div>
</div>

<%= form_tag search_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Search for a Venue Space", class: "form-control", id: "autolocation" %>
    </div>
    
    <div class="col-md-3">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "Event Date", class: "form-control datepicker" %>
    </div>

    <div class="col-md-3">
      <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
    </div>
  </div>

<% end %>

<br><hr><br>

<!-- VENUES -->
<div><h3>Awesome Venue Spaces</h3></div>
<br/>

<div class="row">
  <%= render partial: "venues/venues_list", locals: {venues: @venues} %>
</div>


<!-- CITIES -->
<div><h3>Great Venue Spaces in other Cities</h3></div>
<br/>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <!--<h4>COMING SOON!</h4>-->
    <!--  <p>While we are super anxious to enter your city, Shindig Space is focusing on growing the Chicago market before expanding our horizions.</p>-->
    <!--  <p>We hope to see you soon!</p>-->
		<a href="http://shindigspace.herokuapp.com/search?utf8=✓&search=chicago">
			<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Chicago</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-4 col-sm-6">
		<a href="http://shindigspace.herokuapp.com/search?utf8=✓&search=atlanta">
			<div class="discovery-card" style="background-image: url('/assets/atlanta.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Atlanta</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-4 col-sm-6">
		<a href="http://shindigspace.herokuapp.com/search?utf8=✓&search=los+angeles">
			<div class="discovery-card" style="background-image: url('/assets/la.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Los Angeles</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
</br>
<footer>
	 <p class="copyright ng-binding">© 2017 Shindig Space, Inc. All rights reserved.</p>
</footer>