<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          More Filters <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">

          <%= search_form_for @search, url: search_path, remote: true do |f| %>

              <div class="row">
                <div class="col-md-8">
                  <label>Price range:</label>
                  <div id="slider-range"></div>
                </div>
                <div class="col-md-2">
                  <label>Min Price:</label>
                  <%= f.text_field :price_gteq, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <label>Max Price:</label>
                  <%= f.text_field :price_lteq, class: "form-control" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-6">
                  <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
                </div>
                <div class="col-md-6">
                  <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datetimepicker" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <label>Style Type</label></br>
                  <%= check_box_tag "q[style_type_eq_any][]", "Even All Around" %> Even All Around
                  </div>
                <div class="col-md-4"></br>
                  <%= check_box_tag "q[style_type_eq_any][]", "Mohawk" %> Mohawk
                </div>
                <div class="col-md-4"></br>
                  <%= check_box_tag "q[style_type_eq_any][]", "Box Shape Up" %> Box Shape Up
                </div>
              </div>
              <hr/>
              
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>Stylist Type</label>
                    <%= f.select :stylist_type_gteq, [["Barber", "Barber"]], id: "stylist_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>Barber Services</label>
                    <%= f.select :style_type_gteq, [["Haircut", "Haircut"], ["Lining", "Lining"], ["Shave", "Shave"]],
                            id: "style_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>Additional Services</label>
                    <%= f.select :additional_service_gteq, [["Razor Lining", "Razor Lining"], ["Tapper", "Tapper"], ["Wash & Dry", "Wash & Dry"], 
                    ["Hot Towl Treatment", "Hot Towl Treatment"], ["Part", "Part"], ["None", "None"]], id: "additional_service", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <label>Payment Type</label></br>
                    <%= check_box_tag "q[is_accept_card_eq_any][]", "Card" %> Card
                </div>

              </div>
              <hr/>

              <div class="row text-center">
                <%= f.submit "Search", class: "btn btn-form" %>
              </div>
          <% end %>
      </div>
      <br/>

      <div class="row" id="barbershop_listing">
        <%= render partial: "barbershops/barbershops_list", locals: {barbershops: @arrBarbershops} %>
      </div>

    </div>
  </div>

  <div id="right">
    <!-- GOOGLE MAP WILL BE HERE -->

    <div id="map" style="width: 100%; height: 100%"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwN_tpAAKnHhy14HzNqK-XeuarVJhNHg8"></script>
    
    <script>
      function initialize(barbershops) {
        var location = {lat: 41.881832, lng: -87.623177}
        
        if (barbershops.length > 0) {
          location = {lat: barbershops[0].latitude, lng: barbershops[0].longitude}
        }

        var map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 12
        });

        var marker, inforwindow;

        barbershops.forEach(function(barbershop) {
          marker = new google.maps.Marker({
            position: {lat: barbershop.latitude, lng: barbershop.longitude},
            map: map
          });

          inforwindow = new google.maps.InfoWindow({
            content: "<div class='map_price'>$" + barbershop.price + "</div>"
          });

          inforwindow.open(map, marker);
        })
      }

      google.maps.event.addDomListener(window, 'load', function() {
        initialize(<%= raw @arrBarbershops.to_json %>)
      });
    </script>
  </div>
</div>


<script>
  $('#start_date').datepicker({
    dateFormat: 'mm-dd-yyyy',
    minDate: 0,
    maxDate: '2m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'mm-dd-yyyy',
    minDate: 0, 
    maxDate: '2m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
  
  $('.datepicker').datepicker()
    .on('changeDate', function(ev) {
      alert('Date has changed');
      });

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("More filters <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("More filters <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>

<script>
  $(function() {
    $("#q_price_gteq").val('5');
    $("#q_price_lteq").val('100');

    $("#slider-range").slider({
      range: true,
      min: 5,
      max: 150,
      values: [5, 100],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });

    $(".ui-widget-header").css('background', '#2C3E50');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#2C3E50');
  })
</script>