<% venues.each do |venue| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= image_tag venue.cover_photo(:medium) %>
      </div>
      <div class="panel-body">
        <%= link_to venue.listing_name, venue %><br/>
        $<%= venue.price %> &nbsp; <%= venue.venue_type %> &nbsp; <div class="fa fa-users"></div> <%= venue.accommodate %>
        <div id="star_<%= venue.id %>"></div> <%= pluralize(venue.average_rating, "review") %>
      </div>
    </div>
  </div>

  <script>
    $('#star_<%= venue.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= venue.average_rating %>
    });
  </script>
<% end %>