<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", barbershops_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Appointments", your_appointments_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Appointments
      </div>
      <div class="panel-body">

        <% @appointments.each do |appointment| %>
          <div class="row">
            <div class="col-md-2">
              <%= appointment.start_date.strftime('%v') %>
              <p><%= trip.status %></p>
            </div>
            <div class="col-md-2">
              <%= link_to stylist_path(appointment.stylist) do %>
                <%= image_tag appointment.stylist.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to appointments.barbershop.listing_name, barbershop_path(appointment.barbershop) %><br/><br/>
              <span>
                <%= image_tag avatar_url(appointment.stylist.user), class: "img-circle avatar-small" %>
                <%= link_to user_path(appointment.stylist.user) do %>
                    <%= appointment.stylist.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render partial: "reviews/guest_form", locals: {reservation: appointment} if appointment.Approve? %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>