<div class="row">
  <div class="col-md-3">
    <%= render 'barbershop_menu' %>
  </div>
    
    <div class="col-md-6">
      <div class="panel panel-default">
  
        <div class="panel-heading">
          Extras
        </div>
  
          <div class="panel-body">
            <div class="container">
              <%= form_for @barbershop do |f| %>
    
              <div class="row form-group">
                <div class="col-md-6">
                  <%= f.check_box :is_accept_card %> Card Payment Only
                </div>
                  
                <div class="col-md-6">
                  <label>Additional Services</label>
                    <%= f.check_box :additional_service, [["Razor Lining", "Razor Lining"], ["Tapper", "Tapper"], ["Wash & Dry", "Wash & Dry"], 
                    ["Hot Towl Treatment", "Hot Towl Treatment"], ["Part", "Part"], ["None", "None"]],
                    id: "additional_service", prompt: "Select...", class: "form-control" %>
                </div>
              </div>  
            </div>
          </div>
                
          <br/><br/>

          <div class="text-center">
            <%= f.submit "Save", class: "btn btn-form" %>
          </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
