<div class="row">
  <div class="col-md-3">
    <%= render 'barbershop_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @barbershop do |f| %>

            <div class="row">

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Location Type</label>
              <%= f.select :location_type, [["Barbershop", "Barbershop"], ["Place of Residence", "Place of Residence"], ["Salon", "Salon"], ["Dorm", "Dorm"]],
                            id: "location_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Stylist Type</label>
              <%= f.select :stylist_type, [["Barber", "Barber"]], id: "stylist_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Booking Type</label>
              <%= f.select :instant, Barbershop.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Style Type</label>
              <%= f.select :style_type, [["Haircut", "Haircut"], ["Lining", "Lining"], ["Shape Up", "Shape Up"], ["Mohawk", "Mohawk"], ["Shave", "Shave"]],
                            id: "style_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Payment Type</label>
              <%= f.select :payment_type, [["Card Only", "Card Only"]],
                            id: "payment_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Additional Services</label>
              <%= f.select :additional_service, [["Razor Lining", "Razor Lining"], ["Tapper", "Tapper"], ["Wash & Dry", "Wash & Dry"], 
              ["Hot Towl Treatment", "Hot Towl Treatment"], ["Part", "Part"], ["None", "None"]],
                            id: "additional_service", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

            </div>

            <div><%= f.submit "Save", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
