<div class="row">
  <div class="col-md-3">
    <%= render 'barbershop_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Barber Services
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @barbershop do |f| %>

            <div class="row">
              <div class="form-group">
                  <div class="form-group">
                    <%= f.text_field :service, placeholder: "List a service", class: "form-control", required: false %></br>
                    <%= f.text_field :price, placeholder: "Service Price eg: $25", class: "form-control", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :service, placeholder: "List a service", class: "form-control", required: false %></br>
                    <%= f.text_field :price, placeholder: "Service Price eg: $25", class: "form-control", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :service, placeholder: "List a service", class: "form-control", required: false %></br>
                    <%= f.text_field :price, placeholder: "Service Price eg: $25", class: "form-control", required: true %>
                  </div>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>