<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "Listing", listing_home_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_home_path, class: "sidebar-link active" %>
    <% if !@home.price.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Occupation", occupation_home_path, class: "sidebar-link active" %>
    <% if !@home.occupation.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Photos", photo_upload_home_path, class: "sidebar-link active" %>
    <% if !@home.photos.blank? %>
      <span id="photo_check" class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Amenities", amenities_home_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "Address", location_home_path, class: "sidebar-link active" %>
    <% if !@home.address.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check-circle"></i></span>
    <% end %>
  </li>
</ul>
<hr/>

<% is_ready = !@home.active && !@home.price.blank? && !@home.occupation.blank? && !@home.photos.blank? && !@home.address.blank? %>

<%= form_for @home do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "Publish", id: "publish_button", class: "btn btn-normal btn-block", disabled: !is_ready %>
<% end %>