<% homes.each do |home| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        
        <%= link_to image_tag(home.cover_photo(:medium)) %>
  
      </div>
      
      <div class="panel-body" style="line-height: 1.375;">
        <div class="container">
          <div><span class="col-md-12"><b>$<%= home.price %></b><div style="float: right;" id="star_<%= home.id %>"></div></span></div>
          <div><span class="col-md-12">
            <span class="fa fa-bed" style="padding-right: 5px;"></span>Beds <%= home.bedrooms %>
            <span class="fa fa-toilet" style="padding-left: 5px;"></span> Baths <%= home.bathrooms %> 
            <span class="fa fa-user" style="padding-left: 5px;"></span> <%= pluralize(home.guest_reviews.count, "Review") %>
            </span>
          </div>&nbsp;
          <div><span class="col-md-12" style="font-size: 1.175rem;"><%= home.address %></span></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <script>
    $('#star_<%= home.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= home.average_rating %>
    });
  </script>
<% end %>