<% homes.each do |home| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <div class="price-box-wrapper">
          <span>$<%= home.price %> /day</span>
        </div>
        <%= link_to image_tag(home.cover_photo(:medium)) %>
        <div class="box-wrapper">
          <span><%= home.home_type %> &nbsp; <div class="fa fa-users"></div> <%= home.accommodate %></span>
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <span class="col-md-12" style="font-weight: 500;"><%= link_to home.listing_name, home %></span></br>
          <span class="col-md-12"><%= pluralize(home.guest_reviews.count, "review") %></span>
          <div id="star_<%= home.id %>"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('#star_<%= home.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= home.average_rating %>
    });
  </script>
<% end %>