<div class="row">
  <div class="col-md-3">
    <%= render 'home_menu' %>
  </div>
    
    <div class="col-md-9">
      <div class="panel panel-default">
  
        <div class="panel-heading">
          Features
        </div>
  
          <div class="panel-body">
            <div class="container">
              <%= form_for @home do |f| %>
    
              <div class="row form-group">
                <div class="container">
                  
                  <div class="col-md-4">
                    <%= f.check_box :is_pool %> Pool
                  </div>
                  <div class="col-md-4">
                    <%= f.check_box :is_sauna %> Sauna
                  </div>
                  <div class="col-md-4">
                    <%= f.check_box :is_hot_tub %> Hot Tub
                  </div>
                  
                </div>  
              </div>
            
            <br/><br/>

          <div class="text-center">
            <%= f.submit "Save", class: "btn btn-form" %>
          </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>