<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", homes_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Past Spaces", past_spaces_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listings
      </div>
      <div class="panel-body">
        <div class="container">
          <% @homes.each do |home| %>
            <div class="container-fluid">
              <div class="row">
                <div class="container-fluid">
                  <div class="col-md-2">
                    <%= image_tag home.cover_photo(:thumb) %>
                  </div>
                  <div class="col-md-7">
                    <h5><%= home.listing_name %></h5>
                  </div>
                  <div class="col-md-2">
                    <%= link_to "Update", listing_home_path(home), class: "btn btn-form" %>
                  </div>
                </div>  
              </div>  
            </div>
            <hr/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>