<div class="row">
  <div class="col-md-3">
    <%= render 'home_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @home do |f| %>

            <div class="row">
              <div class="col-md-4 select">
                <div class="form-group">
                 <label>Home Type</label>
                  <%= f.select :home_type, [["Single Family", "Single Family"],["Loft", "Loft"], ["Condo", "Condo"]],
                    id: "home_type", prompt: "Select...", class: "form-control" %>
               	</div>
            	</div>

            	<div class="col-md-4 select">
                <div class="form-group">
                  <label>Bedrooms</label>
                  <%= f.select :bedrooms, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], 
                     ["9", 9], ["10", 10]], 
                     id: "bedrooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>
              
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Bathrooms</label>
                  <%= f.select :bathrooms, [["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5], ["5.5", 5.5], 
                  ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5], ["10", 10], ["10.5", 10.5]], 
                  id: "bathrooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

            <div><%= f.submit "Save", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>