<!DOCTYPE html>
<html>
  <head>
    <title> Shindig Space | Book your next event space with Shindig Space! Sign up today for free!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwN_tpAAKnHhy14HzNqK-XeuarVJhNHg8&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="author" content="" />
    <meta name="keywords" content="Event Rentals in Chicago, Venue Spaces in Chicago, Best Venues for Rent in Chicago, 
    Best event spaces in Chicago" />
    <meta name="description" content="Non-traditional Cool Event Spaces is Here!">
    <meta name="google-site-verification" content="DO0yqvdoS6_M3JZwnZVhczIRYC58JLcZiIw0CYR7tUI" />
    <meta property="og:site_name" content="Shindig Space" />
    <meta property="og:url" content="https://shindigspace.herokuapp.com" />
    <meta property="og:title" content="Shindig Space | Non-traditional Cool Event Spaces is Here!" />
    <meta property="og:description" content="Non-traditional Cool Event Spaces is Here!" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://s3-us-east-2.amazonaws.com/shindigspace/photos/images/000/000/004/original/B51AE513-3887-4F41-87C9-C863915871BC.jpeg?1520046390" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://shindigspace.herokuapp.com">
    <meta name="twitter:title" content="Non-traditional Cool Event Spaces is Here!" />
    <meta name="twitter:image" content="https://s3-us-east-2.amazonaws.com/shindigspace/photos/images/000/000/004/original/B51AE513-3887-4F41-87C9-C863915871BC.jpeg?1520046390" />
    
    <script type="text/javascript" async="" src="https://secure.quantserve.com/quant.js"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
  </head>
  
  <body>
    
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
      
    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    
    <div class="container">
    	<%= yield %>
    </div>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111559616-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-111559616-1');
    </script>
    
    <footer>
      <%= render 'layouts/footer' %>
      <% debug(params) if Rails.env.development?%>
    </footer>
  
  </body>
</html>