<!DOCTYPE html>
<html>
  <head>
    <title> Shindig Space | Book your next event space with Shindig Space! Sign up today!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- BEGIN SHAREAHOLIC CODE -->
    <link rel='preload' href='//apps.shareaholic.com/assets/pub/shareaholic.js' as='script' />
    <script type="text/javascript" data-cfasync="false" async src="//apps.shareaholic.com/assets/pub/shareaholic.js" data-shr-siteid="36f8075e780b58acb93914a70a36638a"></script>
    <!-- END SHAREAHOLIC CODE -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwN_tpAAKnHhy14HzNqK-XeuarVJhNHg8&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="author" content="" />
    <meta name="keywords" content="Event Space, Event Venue, Event Space Booking in Chicago, Event Spaces in Chicago, Best Event Rentals in Chicago, 
    Best Event Spaces in Chicago" />
    <meta name="description" content="Non-traditional Cool Event Spaces">
    <meta name="google-site-verification" content="DO0yqvdoS6_M3JZwnZVhczIRYC58JLcZiIw0CYR7tUI" />
    <meta property="og:site_name" content="Shindig Space" />
    <meta property="og:url" content="https://shindigspace.herokuapp.com" />
    <meta property="og:title" content="Shindig Space | Non-traditional Cool Event Spaces" />
    <meta property="og:description" content="Non-traditional Cool Event Spaces" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://s3-us-east-2.amazonaws.com/shindigspace/photos/images/000/000/004/original/B51AE513-3887-4F41-87C9-C863915871BC.jpeg?1520046390" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://shindigspace.herokuapp.com">
    <meta name="twitter:title" content="Non-traditional Cool Event Spaces" />
    <meta name="twitter:image" content="https://s3-us-east-2.amazonaws.com/shindigspace/photos/images/000/000/004/original/B51AE513-3887-4F41-87C9-C863915871BC.jpeg?1520046390" />
    
    <script type="text/javascript" async="" src="https://secure.quantserve.com/quant.js"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
  </head>
  
  <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='09bdabf2578c8401dc4323a8ecdc4e842a7037b046fdb49e40d66e43e9237c17';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

  <body>
    
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
      
    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    
    <div class="container">
    	<%= yield %>
    </div>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111559616-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-111559616-1');
    </script>

  </body>
</html>