<!DOCTYPE html>
<html>
  <head>
    <title>Uppercutzz | Book your next Barber Appointment with Uppercutzz! Sign up today for free!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwN_tpAAKnHhy14HzNqK-XeuarVJhNHg8&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/eggplant/jquery-ui.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="author" content="Lawrence Murry" />
    <meta name="keywords" content="Barbers in Chicago, barbers near me, best barber in Chicago, 
    Best barber in LA, twist locs in Chicago" />
    <meta name="description" content="The open-table of barbershops is here!">
    <meta name="google-site-verification" content="" />
    <meta property="og:site_name" content="Uppercutzz" />
    <meta property="og:url" content="http://www.uppercutzz.com" />
    <meta property="og:title" content="Uppercutzz | The open-table of barbershops is here!" />
    <meta property="og:description" content="The open-table of barbershops is here!" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="http://watchdog.org/wp-content/blogs.dir/1/files/2016/06/barbershop.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://www.uppercutzz.com">
    <meta name="twitter:title" content="The open-table of barbershops is here!" />
    <meta name="twitter:image" content="http://watchdog.org/wp-content/blogs.dir/1/files/2016/06/barbershop.jpg" />
  </head>
  
    <body>
      
      <%= render 'shared/navbar' %>
      <%= render 'shared/message' %>
      
      <% if current_user %>
        <input type="hidden" id="user_id" value="<%= current_user.id %>">
      <% end %>
      
      <div class="container">
      	<%= yield %>
      </div>
        
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-79135114-1', 'auto');
        ga('send', 'pageview');
      </script>
        
    </body>  
</html>